@import './resets';
@import './variables';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name)
}

html, body {
    background: $primary-color;
    color: $text-color;
    font-weight: map-get($font-weights, bold);
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    margin: 0 auto;

    #{&}__paragraph {
        font-weight: weight(bold);
    }
}
.row hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.navbar {
    padding: .8rem;
}
.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1.2em !important;
}
.jambotron {
    padding: 1rem;
    border-radius: 0;
}

.padding {
    padding-bottom: 2rem;
}
.row {
    margin-left: 5%;
    margin-right: 5%;
}
.welcome {
    position: relative;
    height: 60vh;
    min-height: 300px;
    background: linear-gradient( top, rgba(255, 0, 162, 0.692) , #333333),url(../contents/main_back.jpg);
    background-size: cover;
    width: 100%;
    margin: 0 auto;
      padding-top: 2rem;
    color: #ffffff;
}
.welcome p {
    width: 75%;
}
.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.social a {
    font-size: 4.5em;
    padding: 3rem;
}
.fa-twitter {
    color: #00aced;
}
.fa-github {
    color: #f3f3f3;
}
.fa-envelope {
    color: #d44638;
}
.about {
    margin: 0 auto;
      padding-top: 2rem;
}
